{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1">
        <title> {% block title %} MineApp! {% endblock %} </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
    {% block nav %}
    <div class="sidenav">


        {% if request.user.is_authenticated %}

        Witaj {{zalogowany.email}}, {{now}}


        <br>
     <p style="text-align: center"><strong>

         <a href="{% url 'index' %}">Strona główna</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'show-user' %}">Twoje dane</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'user-photos' %}">Twoje zdjęcia</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'add-photo' %}">Dodaj zdjęcie!</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'all-users' %}">Wszyscy użytkownicy</a>&nbsp;&nbsp;&nbsp;
         <a href="{% url 'logout' %}">Wyloguj</a>&nbsp;
        </strong>
            </p>
            {% else %}
        <a href="{% url 'login' %}"><img src="{% static 'user.png' %}" height="33">ZALOGUJ</a>&nbsp;&nbsp;
        <a href="{% url 'register' %}"><img src="{% static 'user2.png' %}" height="33">ZAŁÓŻ KONTO</a><br>
        <br><br><br><br>

                {% endif %}
    </div>
            {% endblock %}
    <div class="main">
        {% block content %}
<br>
<br>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="send">
    </form>
            <br><br><br>
    Wszystkie zdjęcia ({{ len_of }}):<br>
<br>
           {% for elem in photos %}
       <table border="1" style="border-collapse: collapse; float:left" width="248" height="215">

        <tr>
            <td>
            <center>
            <a href="photo-details/{{elem.id}}/">
                <img src="{{ elem.path }}" width="200" height="180" />
            </a><br>
            {{ elem.creation_date }}<br>
            <a href="user/{{elem.photo.id}}/">{{ elem.photo }}</a>
            </center>
             </td>
        </tr>

        </table>
    {% endfor %}

 </div>
        {% endblock %}
    </body>
</html>