{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1">
        <title> {% block title %} MineApp! {% endblock %} </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
    {% block sidebar %}

        <div class="sidenav">
            <center>
            {{logged_in.email}}   <br>
            {{now}}
            <br><br><br><br>
            <a href="{% url 'index' %}">Strona główna</a>&nbsp;&nbsp;
            <a href="{% url 'show-user' %}">Twoje dane</a>&nbsp;&nbsp;
            <a href="{% url 'user-photos' %}">Twoje zdjęcia</a>&nbsp;&nbsp;
            <a href="{% url 'add-photo' %}">Dodaj zdjęcie!</a>&nbsp;&nbsp;
            <a href="{% url 'all-users' %}">Wszyscy użytkownicy</a>&nbsp;
            <br><br><br>
            <a href="{% url 'login' %}">Zaloguj</a>&nbsp;&nbsp;
            <a href="{% url 'logout' %}">Wyloguj</a>&nbsp;&nbsp;
            <a href="{% url 'signup' %}">Załóż konto</a></center>
        </div>
                {% endblock %}
    <div class="main">
        {% block content %}


    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="send">
    </form>

            <br>
    Wszystkie zdjęcia ({{ len_of }}):<br>

    {% for elem in photos %}
       &nbsp;<table border="1" style="float: left" width="205" height="205">
        <tr>
            <td>
            <center>
            <a href="photo-details/{{elem.id}}/">
                <img src="{{ elem.path }}" width="170" height="170" style="float:right; margin:6px;" />
            </a><br>
            {{ elem.creation_date }}<br>
            <a href="user/{{elem.photo.id}}/">{{ elem.photo }}</a>
            </center>
             </td>
        </tr>
        </table>&nbsp;
    {% endfor %}

    {% endblock %}
    </div>

    </body>
</html>